#css-override,
h1,
h3,
.jumbotron {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-style: italic;
  font: bolder;
}

body {
  background-color: darkgray;
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

#noose {
  height: 250px;
  width: 250px;
}
